.section {
    margin-top: 1rem;
    padding: 1rem;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Divtext {
    padding: 2rem;
    font-size: 1.6em;
    display: flex;
  }
  
  .img {
    width: 100%;
    height: 20rem;
    width: 25rem;
  }
  
  /* Telas pequenas */
  @media screen and (max-width: 700px) {
    .section {
      flex-direction: column;
      align-items: center;
    }
  
    .Divtext {
      text-align: center; /* Adicionamos alinhamento central para o texto */
    }
  
    .img {
      width: 80%;
      height: 15rem;
      width: 15rem;
    }
  }
  